@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
                        /* light: 300, regular: 400, medium 500, semibold: 600 */


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    color: rgb(85, 85, 85);
}


/* SECTIONS */

section {
    padding-top: 4vh;
    height: 96vh;
    /* margin: 0 1rem; */
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}


/* PROFILE SECTION */

#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section-img-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section-text {
    align-self: center;
    text-align: center;
}

.section-text p {
    font-weight: 600;
}

.section-p {
    text-align: center;
}

.section-title {
    font-size: 3rem;
    text-align: center;
}


/* ABOUT SECTION */

#about {
    position: relative;
}

.about-containers {
    gap: 2rem;
    margin-bottom:  2rem;
    margin-top: 2rem;
}

.about-containers {
    display: flex;
    gap: 2rem;
    margin-bottom:  2rem;
    margin-top: 2rem;
}

.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    text-align: center;
}